 <h2>User info</h2>
 <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg',fallback: "no-image.png", size:'100x100', class:"attachment user profile_image fallback" %>
  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
      <tr>
        <th>follows</th>
        <th><%= link_to @user.followings.count,followings_user_path(@user) %></th>
      </tr>
      <tr>
        <th>follower</th>
        <th><%= link_to @user.followers.count,followers_user_path(@user)  %></th>
      </tr>
    </tbody>
  </table>
<% if @user == current_user %>
  <div class="row">
    <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block", method: :get do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
<% else %>
  <div>
     <% if current_user.is_followed_by?(@user) %>
         <%= link_to user_relationships_path(@user), class: "btn btn-info", method: :delete do %>
             フォロー外す
         <% end %>
     <% else %>
          <%= link_to user_relationships_path(@user), class: "btn btn-success", method: :post do %>
             フォローする
         <% end %>
  <% end %>
  </div>
<% end %>