<header>
  <%= link_to"Bookers", root_path  %>
  <%= link_to"Home", user_path(current_user.id)  %>
  <%= link_to"Users", users_path %>
  <%= link_to"Books", books_path %>
  <%= link_to "logout", destroy_user_session_path, method: :delete %>
</header>
<main>
  <h1>Editing Book</h2>
  
  <h2>Title</h2>
  
  <h2>Option</h2>
  
  <%= form_with model: @book, local: true do |f| %>
  <%= f.submit "Update Book" %>

</main>


<footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>
