<header>
  <nav>
    <div>
      <a><span>Bookers</span></a>
      <div>
        <ul>
          <li><a> Home</a></li>
          <li><a> About</a></li>
          <li><a> sign up</a></li>
          <li><a> login</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>  

<main>
  <h2>User info</h2>
  
  <h2>New book</h2> 
  <%= form_with model:@book,local:true do |f| %>
    <h4>タイトル</h4>
    <%= f.text_field :title %>
    
    <h4>Option</h4>
    <%= f.text_field :body %>
    <%= f.submit "Create Book"%>
  <% end %>
  
  <h2>Books</h2>
  <% @books.each do |book| %>
   <%= book.title %>
   <%= book.body%>
  <% end %>


</main>


<footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>
