<header>
  <%= link_to"Bookers", root_path  %>
  <%= link_to"Home", user_path(current_user.id)  %>
  <%= link_to"Users", users_path %>
  <%= link_to"Books", books_path %>
  <%= link_to "logout", destroy_user_session_path, method: :delete %>
</header>
<main>
  <h2>User info</h2>

  <h2>New book</h2>
  
  <h2>Books</h2>

</main>
<footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>
