<main>
  <h2>User info</h2>
    <%= render 'books/list', user: @user %>

  <h2>New book</h2>
    <%= form_with model:@book,local:true do |f| %>
      <h4>Title</h4>
        <%= f.text_field :title %>
      <h4>Option</h4>
        <%= f.text_area :body %>
        <%= f.submit "Create Book"%>
    <% end %>
    
  <h2>Book detail</h2>
  <%= attachment_image_tag @user, :profile_image,:fill, 100, 100, format:'jpg' , fallback: "no-image.png" %>
  <%= link_to user_path(@user) do %>
    <%= @user.name %>
  <% end %>
  <%= link_to book_path(@book) do %>
    <%= @book.title %>
  <% end %>
  <%= @book.body %>
  <% if @user.id ==  current_user.id %>
   <%= link_to "Edit", edit_book_path(@book) %>
   <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>

</main>