<header>
  <%= link_to"Bookers", root_path  %>
  <%= link_to"Home", user_path(current_user.id)  %>
  <%= link_to"Users", users_path %>
  <%= link_to"Books", books_path %>
  <%= link_to "logout", destroy_user_session_path, method: :delete %>
</header>

<main>
  <h2>User info</h2>

  <h2>New book</h2>
  <%= form_for @book do |f| %>
    <%= f.label :title  %>
    <%= f.text_field :title %>

    <%= f.label :Option%>
    <%= f.text_field :body %>

    <%= f.submit "Create Book"%>
  <% end %>

  <h2>Book detail</h2>
    <%= link_to user_path(@book.user) do %>
      <%= @book.user.name %>
    <% end %>
    <%= @book.title %>
    <%= @book.body %>
</main>


<footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>
