<header>
  <% if user_signed_in? %>
    <%= link_to"Bookers", root_path  %>  
    <%= link_to"Home", root_path  %>
    <%= link_to"About", about_path %>
    <%= link_to "logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to"Bookers", root_path  %>  
    <%= link_to"Home", root_path  %>
    <%= link_to"About", about_path %>
    <%= link_to"sign_up",new_user_registration_path %>
    <%= link_to"login", new_user_session_path %>
  <% end %>
</header>

<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcome to <i class="fas fa-book"></i><strong>Bookers</strong>  !!</h1>
      <p>In  <i class="fas fa-book"></i><strong>Bookers</strong>, </p>
      <p>you can share and exchange  your opinions , inpressions , and emotions</p>
      <p> about various books!</p>
      <div class="btn-wrapper col-10 mx-auto">
      
      <div class="row">
      <%= link_to"Log in", new_user_session_path %>
      </div>
      
      <div class="row">
      <%= link_to"Sign Up", new_user_registration_path %>
      </div>
      </div>
    </div>
  </div>
</div>
</main>

<footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>

  
