<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-8 offset-md-1">
      <%= render 'searches/form' %>
    </div>
  </div>
</div>

<% if @model == 'user' %>
  <h3>Users serach for "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% else @model == 'books' %>
  <h3>Books search for "<%= @content %>"</h3>
  <%= render 'books/index', books: @records %>
<% end %>